
.topBanner {
  position: relative;
  width: 100%;
}

.fullImage {
  width: 100%;
  height: auto;
}

.fullImage img {
  display: block;
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-end; 
  padding-bottom: 5px;
  background: white; 
}

.languageSelector {
  position: relative;
  display: flex;      
  align-items: center;  
  cursor: pointer;
}

.languageSelector img {
  width: 6.5vw;
  height: 6.5vw;
}

.dropdownMenu {
  position: absolute;
  top: 7.3vw;
  right: 0px;
  padding: 0px;
  margin: 0;
  background: rgba(0, 36, 90, 0.9);
  border: 1px solid #00245a;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  list-style: none;
  z-index: 100;
  width: auto;
  max-height: 200px;
  overflow-y: auto;
}

.dropdownMenu li {
  padding: 13px 30px;
  cursor: pointer;
  font-size: clamp(16px, 1.5vw, 45px);
  color: #fff;
}

.dropdownMenu li:hover {
  background: #001b40; 
}

/* 전체 스크롤바 */
.dropdownMenu::-webkit-scrollbar {
  width: 8px; 
}

/* 스크롤바 트랙 (배경) */
.dropdownMenu::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

/* 스크롤바 핸들(움직이는 부분) */
.dropdownMenu::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 3px;
}

/* hover 시 스크롤바 핸들 색상 */
.dropdownMenu::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

.currentLang {
  display: flex;      
  align-items: center;    
  line-height: 2;   
  margin:0 7px; 
  font-size: clamp(15px, 2.5vw, 50px);
  font-weight: 600;
  color: #316aff;
}

.buttonImage {
  position: absolute; /* 중간 버튼만 적용됨 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.middleButton {
  top: 20.5%; /* 쿠폰 이미지 바로 아래로 위치 비율 조정 */
}

.buttonImg {
  width: 65vw;  
  max-width: 1300px; 
  min-width: 150px; 
  height: auto;
  display: block;
  cursor: pointer;
}

.buttonWrapper {
  text-align: center;
  padding: 10px 0;  /* 버튼 상하 여백 */
}

.bottomButton {
  display: inline-block; /* 중앙 정렬 */
  width: 70vw;  
  max-width: 1100px; 
  min-width: 150px;   
  height: auto;
  cursor: pointer;
}